{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.add_tag'|trans }}
{% endblock %}

{% block body %}

    <h1>
        {{ 'title.add_tag'|trans }}
    </h1>

    {% include '_form.html.twig' with {action_url: 'tag_add'} %}

    <div class="btn-group">
        <a href="{{ path('tag_index') }}" class="btn btn-default" title="{{ 'action.index'|trans }}">
            {{ 'action.index'|trans }}
        </a>
    </div>

{% endblock %}