{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.delete_bookmark'|trans }}
{% endblock %}

{% block body %}

    <h1>
        {{ 'title.delete_bookmark'|trans }}
    </h1>

    {% include '_form_with_id.html.twig' with {action_url: 'bookmark_delete', variable_id: bookmark.id} %}

    <div class="btn-group">
        <a href="{{ path('bookmark_index') }}" class="btn btn-default" title="{{ 'action.index'|trans }}">
            {{ 'action.index'|trans }}
        </a>
    </div>
{% endblock %}