{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ 'title.bookmarks'|trans }}</h1>

    {% if bookmarks is defined and bookmarks|length %}

        {% for bookmark in bookmarks %}
            <dl>
                <dt>{{ 'label.id'|trans }}</dt>
                <dd>{{ bookmark.id }}</dd>
                <dt>{{ 'label.url'|trans }}</dt>
                <dd>{{ bookmark.url }}</dd>
                {#
                <dt>{{ 'label.tag'|trans }}</dt>
                <dd>
				    {% for tag in bookmark.tags %}
						{{ tag|comma }}
					{% endfor %}
				</dd>
				#}
                <dt>{{ 'label.link'|trans }}</dt>
                <dd>
				    <a href="{{ path('bookmark_view', {'id': bookmark.id}) }}">
						{{ 'label.see_the_bookmark'|trans }}
					</a>
				</dd>
            </dl>
        {% endfor %}

    {% else %}
    <p>
        {{ 'message.empty_list'|trans }}
    </p>

    {% endif %}
    <div class="btn-group">
        <a href="{{ path('bookmark_add') }}" class="btn btn-default" title="{{ 'bookmark.add'|trans }}">
            {{ 'bookmark.add'|trans }}
        </a>
    </div>

{% endblock %}
