{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ 'title.bookmark'|trans }}</h1>

    {% if bookmark is defined and bookmark|length %}
    
        <dl>
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ id }}</dd>
            <dt>{{ 'label.url'|trans }}</dt>
            <dd>{{ bookmark.url }}</dd>
            {#
            <dt>{{ 'label.tag'|trans }}</dt>
            <dd>
                {% for tag in bookmark.tags %}
                    {{ tag }}
                {% endfor %}
            </dd>
            #}
        </dl>

    {% else %}
    <p>
        {{ 'message.empty_list'|trans }}
    </p>
    {% endif %}
    <div class="btn-group">
        <a href="{{ path('bookmark_index') }}" class="btn btn-default" title="{{ 'action.index'|trans }}">
            {{ 'action.index'|trans }}
        </a>
    </div>

{% endblock %}
